.section__container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.backBtn {
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 200;
  border-bottom: 1px solid gray;
}


.title__container {
  display: flex;
  justify-content: center;
  font-size: 75px;
  line-height: 85px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #333;
}

.subtitle__container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  font-size: 18px;
  font-weight: 500;
}

.desc__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  color: #333;
  line-height: 1.1;
  letter-spacing: -0.032em;
  margin-bottom: 100px;
}

.desc__container span {
  font-size: 24px;
  font-weight: 500;
}

.project__container {
  display: flex;
  justify-content: space-between;
}

.project__item__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project__item__desc {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width:568px) {
  .title__container {
    font-size: 45px;
  }

  .subtitle__container {
    margin-bottom: 50px;
  }

  .desc__container {
    margin-bottom: 50px;
  }
  .desc__container span {
    font-size: 14px;
    line-height: 1.7;
  }

  .project__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project__item {
    margin-bottom: 20px;
  }

  .project__item__title {
    font-size: 18px;
  }

  .project__item__desc {
    font-size: 16px;
  }
  
}