.section__container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
}

.title__container {
  display: flex;
  font-size: 75px;
  line-height: 85px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #333;
}

.subtitle__container {
  display: flex;
  margin-bottom: 120px;
  font-size: 18px;
  font-weight: 500;
}

.desc__container {
  text-align: start;
  color: #333;
  line-height: 1.6;
  letter-spacing: -0.032em;
  margin-bottom: 100px;
}

.desc__container span {
  font-size: 24px;
  font-weight: 500;
}

.project__container {
  display: flex;
  justify-content: space-between;
}

.project__item__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project__item__desc {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.4;
}