@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  button:disabled {
    color: rgba(16, 16, 16, 0.3);
  }
}

html {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
  overflow-x: hidden;
  width: 100%;
}

#root {
  @apply w-full max-w-[1440px];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
