.global_nav {
  height: 150px;
  background: rgb(238, 238, 238);
}

.global_nav_links {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.global_nav_links a {
  transition: all 300ms ease-in-out;
}
.global_nav_links a:not(.product_name) {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 2em;
}

.global_nav_links a:hover {
  transform: scale(1.1);
}

.global_nav_links a span {
  font-size: 1.2em;
  font-weight: 600;
}

.product_name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 200;
  border-bottom: 1px solid gray;
}

.blinking {
  font-size: 1.5em;
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation: blink 1.5s ease-in-out infinite alternate;
  animation: blink 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* -- Nav Clear -- */

/* Section Start */
.main_section {
  background: rgb(238, 238, 238);
  height: 100vh;
  padding-top: 3%;
}

.main_section_container {
  position: relative;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main_section_title {
  font-size: 6em;
  font-weight: 400;
  line-height: 1.4;
}

.main_section_title span {
  border-bottom: 3px solid black;
}

.main_section_body {
  padding-top: 10%;
  padding-bottom: 12%;
  line-height: 1.7;
}

.main_section_body p {
  font-weight: 500;
  font-size: 2.0rem;
}

.main_section_body ul {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.main_section_content_container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main_section_content_item {
  display: flex;
  flex-direction: column;
}

.content_item_title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.content_item_desc {
  padding: 0 10px;
  line-height: 2.0;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .global_nav {
    width: 100%;
    padding: 0 20px;
  }

  .main_section_title {
    padding: 0 20px;
    font-size: 3.0em;
    font-weight: 400;
    line-height: 1.4;
  }

  .main_section_body p{
    padding: 0 20px;
    font-size: 1.4em;
    font-weight: bold;
  }

  .main_section_body ul {
    padding: 0 20px;
    font-size: 1.2rem;
  }
}

@media (max-width: 568px) {
  .global_nav {
    width: 100%;
    padding: 0 20px;
  }
  .main_section_title {
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.4;
  }

  .main_section_body p{
    padding: 0 20px;
    font-size: 1.4em;
    font-weight: bold;
  }

  .main_section_body ul {
    padding: 0 20px;
    font-size: 1.2rem;
  }
}
